*{
    padding: 0;
    margin: 0;    
}

/* html{
    font-size: 100px;
} */

/* .section1{
    color: lightcoral;
    font-size: 30px;
} */

.section1 .heading{
    color: green;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-variant: small-caps; */
    text-transform: uppercase;
    letter-spacing: 30px;
}

p{
    word-spacing: 20px;
    line-height: 20px;
}

/* 
.box{
    width: 50vw;
    height: 50vh;
    background:#59B4C3;
    box-sizing: border-box;
} */

/* .child{
    width: 100%;
    height: 50%;
    background: red;
} */


/* units & sizes 
em 
rem
vh
vw
%

rgb()
rgba()
hsl()
hsla()
hex


Typography
fontsize
family
weight
style
word-spacing
letter-spacing

*/